# dependencies
node_modules/
dist/
npm-debug.log
yarn-error.log
.yarn

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
